<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
   <th:block th:fragment="content">
      <h1>GuestBook Modify Page</h1>
      
      <form th:action="@{/guestbook/modify}" th:method="post">
      
		<div class="mb-3">
			<label>Gno</label>
			<input type="text" name="gno" class="form-control" th:value="${dto.gno}" readonly />
		</div>
		 <div class="mb-3">
			<label>Title</label>
			<input type="text" name="title" class="form-control" th:value="${dto.title}" />
		</div>
		<div class="mb-3">
			<label>Content</label>
			<textarea name="content" rows="5" class="form-control" >[[${dto.content}]]</textarea>
			</div>
		<div class="mb-3">
			<label>Writer</label>
			<input type="text" name="writer" class="form-control" th:value="${dto.writer}" readonly />  		
		</div>
		<div class="mb-3">
			<label>RegDate</label>
			<input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly />  		
		</div>
		<div class="mb-3">
			<label>UpdateDate</label>
			<input type="text" class="form-control" th:value="${#temporals.format(dto.updateDate, 'yyyy/MM/dd HH:mm:ss')}" readonly />  		
		</div>
		
		<!--  페이지 번호 -->
		<input type="hidden" name="page" th:value="${requestDto.page}" />
		
		<!--  검색 정보 -->
		<input type="hidden" name="type" th:value="${requestDto.type}" />
		<input type="hidden" name="keyword" th:value="${requestDto.keyword}" />
		
		<button type="button" class="btn btn-primary">Modify</button>
		<button type="button" class="btn btn-info">List</button>
		<button type="button" class="btn btn-danger">Remove</button>
      	
      </form>
<script th:inline="javascript">
$(function(){
	
	let form = $("form");
	
	$(".btn-danger").click(function(){
		form.attr("action","/guestbook/remove")
			.attr("method","post")
			.submit();
	})
	
	$(".btn-primary").click(function(){
		
		if(!confirm("수정하시겠습니까?")){
			return;
		}
		
		form.attr("action","/guestbook/modify")
			.attr("method","post")
			.submit();;
	})
	
	$(".btn-info").click(function(){
		
		//페이지 나누기 정보
		let page = $("[name='page']");
		
		//검색 정보
		let type = $("[name='type']");
		let keyword= $("[name='keyword']");
		
		//폼 안의 모든 내용 지우기
		form.empty();
		
		//페이지 나누기 정보 추가
		form.append(page);
		
		//검색 정보 추가
		form.append(type);
		form.append(keyword);
		
		form.attr("action","/guestbook/list")
			.attr("method","get")
			.submit();
	})

})
</script>
   </th:block>
</th:block>